{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <h1 class="my-4">Registration</h1>
    {% if registered %}
        <h3>Thank you for registering!</h3>
    {% else %}
        <h3>Please fill out the form:</h3>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" value="Register" class="btn btn-primary">
        </form>
    {% endif %}
{% endblock %}
